<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>中国好台词</title>
	<link href="/css/font-awesome.css" rel="stylesheet"> 
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
	<link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<link href="/css/style.css" type="text/css" rel="stylesheet" media="all">  
	<link rel="stylesheet" href="/css/index.css">
	<script src="/js/jquery-1.11.3.min.js"></script>
	<style>
		*{margin: 0;padding:0;list-style:none;text-decoration:none;}
		table tr,td{color:red;}
		.table tr td img{width :100px;height:100px;}
	</style>
</head>
<body>
	<div id="warp">
<!--头部-->
		<div class="header">
			<div class="header-top">
				<h1>
					<a href="">
						China
						<span>
							 Good taici
						</span>
					</a>
				</h1>
				<ul>
					<li><a href="/admin/articleCon"  class="active">添加台词</a></li>
					<li><a href="/admin/articleSee">台词列表</a></li>
					<li><a href="/admin" style="margin-left:500px;">返回后台</a></li>
					
				</ul>
			</div>
		</div>
	<img src="/images/2.jpg" alt="" style="width:1349px;height:300px;">
		<div class="welcome contact">
		<div class="container">  
			<h3 class="agileits-title">Good Taici 台词列表</h3> 
			<div class="container">  
				<table class="table table-hover" class="container">			
					<tr>
						<td>封面</td>
						<td>分类</td>
						<td>作者</td>
						<td>台词</td>
						<td>日期</td>
						<td>操作</td>
					</tr>
					<% articlelist.forEach(function(val){ %>
					<tr>
						<td><img src="/<%= val.fengmian %>" alt=""></td>
						<td><%= val.catId.fenlei %></td>
						<td><%= val.author %></td>
						<td><%= val.taici %></td>
						<td><%= val.createTime.toLocaleString() %></td>	
						<td>
							<a href="/admin/updateArticle/<%= val._id %>"> 编辑 |</a>
							<a href="/admin/removeArticle/<%= val._id %>" onclick="return confirm('确定要删？') "> 删除</a>
						</td>
					</tr>
					<%	}) %>
					
				</table>
			</div> 
		</div>
	</div>
	<nav aria-label="Page navigation"style="margin-left:130px;">
	  <ul class="pagination">
	    <li>
	       <a  href="/admin/articleSee?page=<%= page-1 %>" aria-label="Previous">
        		<span aria-hidden="true">&laquo;</span>
     	 	</a>
	    </li>
	    <% for(var i=1;i<=pageMax;i++){ %>
			<li><a href="/admin/articleSee?page=<%= i %>" ><%= i %></a></li>
	    <% } %>
	    

	    <li>
	      <a href="/admin/articleSee?page=<%= -(-page-1) %>" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
<% include footer%>